<div class="Title">Editing Node</div>
<div class="FormContainer">
  <% if (!@node) %>
    <% @node = Node.find_by_id params[:id] %>
  <% end %>
  <%= form_tag :controller => 'node', :action => :edit_attempt, :id => params[:id] do %>
    <p> Name: <%= text_field_tag :name, @node.name %></p>
    <p> Description: <%= text_area_tag :desc, @node.desc %></p>
    <p> System: <%= number_field_tag :system, @node.system %>
    <p> Firewall: <%= number_field_tag :firewall, @node.firewall %></p>
    <p> Response: <%= number_field_tag :response, @node.response %></p>
    <p> Signal: <%= number_field_tag :signal, @node.signal %></p>
    <p> Pilot: <%= number_field_tag :pilot, @node.pilot %></p>
    <% player = @node.player %>
    <% user = @node.user %>
    <% if player %>
      <p>Player: <%= text_field_tag :player, player.name, :disabled => :true %></p>
    <% end %>
    <% if user %>
      <p>GM: <%= text_field_tag :gm, user.username, :disabled => :true %></p>
    <% end %>
    <% @programset = Programset.find_by_id @node.programset_id %>
    <%= render :template => "programset/edit", :@programset => @programset %>
    <%= submit_tag :Save %>
  <% end %>
</div>