
  <% if @programset_template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@programset_template.errors.count, "error") %> prohibited this programset_template from being saved:</h2>

      <ul>
      <% @programset_template.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="Label"> analyze </div><br />
    <%= number_field_tag :analyze %>
  </div>
  <div class="field">
    <div class="Label"> armor </div><br />
    <%= number_field_tag :armor %>
  </div>
  <div class="field">
    <div class="Label"> attack </div><br />
    <%= number_field_tag :attack %>
  </div>
  <div class="field">
    <div class="Label"> biofeedback_filter </div><br />
    <%= number_field_tag :biofeedback_filter %>
  </div>
  <div class="field">
    <div class="Label"> black_hammer </div><br />
    <%= number_field_tag :black_hammer %>
  </div>
  <div class="field">
    <div class="Label"> blackout </div><br />
    <%= number_field_tag :blackout %>
  </div>
  <div class="field">
    <div class="Label"> command </div><br />
    <%= number_field_tag :command %>
  </div>
  <div class="field">
    <div class="Label"> data_bomb </div><br />
    <%= number_field_tag :data_bomb %>
  </div>
  <div class="field">
    <div class="Label"> decrypt </div><br />
    <%= number_field_tag :decrypt %>
  </div>
  <div class="field">
    <div class="Label"> defuse </div><br />
    <%= number_field_tag :defuse %>
  </div>
  <div class="field">
    <div class="Label"> eccm </div><br />
    <%= number_field_tag :eccm %>
  </div>
  <div class="field">
    <div class="Label"> edit </div><br />
    <%= number_field_tag :edit %>
  </div>
  <div class="field">
    <div class="Label"> encrypt </div><br />
    <%= number_field_tag :encrypt %>
  </div>
  <div class="field">
    <div class="Label"> exploit </div><br />
    <%= number_field_tag :exploit %>
  </div>
  <div class="field">
    <div class="Label"> medic </div><br />
    <%= number_field_tag :medic %>
  </div>
  <div class="field">
    <div class="Label"> reality_filter </div><br />
    <%= number_field_tag :reality_filter %>
  </div>
  <div class="field">
    <div class="Label"> scan </div><br />
    <%= number_field_tag :scan %>
  </div>
  <div class="field">
    <div class="Label"> sniffer </div><br />
    <%= number_field_tag :sniffer %>
  </div>
  <div class="field">
    <div class="Label"> spoof </div><br />
    <%= number_field_tag :spoof %>
  </div>
  <div class="field">
    <div class="Label"> stealth </div><br />
    <%= number_field_tag :stealth %>
  </div>
  <div class="field">
    <div class="Label"> track </div><br />
    <%= number_field_tag :track %>
  </div>
  <div class="actions">
    <%= submit_tag :Submit %>
  </div>

