<%= form_for(@programset_template) do |f| %>
  <% if @programset_template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@programset_template.errors.count, "error") %> prohibited this programset_template from being saved:</h2>

      <ul>
      <% @programset_template.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :analyze %><br />
    <%= f.number_field :analyze %>
  </div>
  <div class="field">
    <%= f.label :armor %><br />
    <%= f.number_field :armor %>
  </div>
  <div class="field">
    <%= f.label :attack %><br />
    <%= f.number_field :attack %>
  </div>
  <div class="field">
    <%= f.label :biofeedback_filter %><br />
    <%= f.number_field :biofeedback_filter %>
  </div>
  <div class="field">
    <%= f.label :black_hammer %><br />
    <%= f.number_field :black_hammer %>
  </div>
  <div class="field">
    <%= f.label :blackout %><br />
    <%= f.number_field :blackout %>
  </div>
  <div class="field">
    <%= f.label :command %><br />
    <%= f.number_field :command %>
  </div>
  <div class="field">
    <%= f.label :data_bomb %><br />
    <%= f.number_field :data_bomb %>
  </div>
  <div class="field">
    <%= f.label :decrypt %><br />
    <%= f.number_field :decrypt %>
  </div>
  <div class="field">
    <%= f.label :defuse %><br />
    <%= f.number_field :defuse %>
  </div>
  <div class="field">
    <%= f.label :eccm %><br />
    <%= f.number_field :eccm %>
  </div>
  <div class="field">
    <%= f.label :edit %><br />
    <%= f.number_field :edit %>
  </div>
  <div class="field">
    <%= f.label :encrypt %><br />
    <%= f.number_field :encrypt %>
  </div>
  <div class="field">
    <%= f.label :exploit %><br />
    <%= f.number_field :exploit %>
  </div>
  <div class="field">
    <%= f.label :medic %><br />
    <%= f.number_field :medic %>
  </div>
  <div class="field">
    <%= f.label :reality_filter %><br />
    <%= f.number_field :reality_filter %>
  </div>
  <div class="field">
    <%= f.label :scan %><br />
    <%= f.number_field :scan %>
  </div>
  <div class="field">
    <%= f.label :sniffer %><br />
    <%= f.number_field :sniffer %>
  </div>
  <div class="field">
    <%= f.label :spoof %><br />
    <%= f.number_field :spoof %>
  </div>
  <div class="field">
    <%= f.label :stealth %><br />
    <%= f.number_field :stealth %>
  </div>
  <div class="field">
    <%= f.label :track %><br />
    <%= f.number_field :track %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
