
<div class="Title"><%= @user.username %></div>
<p> Currently selected player is: <%=  @player ? @player.name : "no one" %> </p>
<p> <%= link_to "Your Players", :controller => :players, :action => :index %> </p>
<p> <%= link_to "Your Templates", :controller => :node_templates, :action => :index %> </p>
<p> <%= link_to "Your Games", :controller => :gamesessions, :action => :index %> </p>
<p> <%= link_to "Your Groups", :controller => :groups, :action => :index %> </p>
<p> <%= link_to "Your Profile", :action => :profile %> </p>
<p> <%= link_to "Settings", :action => :settings %> </p>