
  <% if @node_template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@node_template.errors.count, "error") %> prohibited this node_template from being saved:</h2>

      <ul>
      <% @node_template.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="Label"> name </div><br />
    <%= text_field_tag :name, @node_template ? @node_template.name : "" %>
  </div>
  <div class="field">
    <div class="Label"> desc </div><br />
    <%= text_area_tag :desc, @node_template ? @node_template.desc : "" %>
  </div>
  <div class="FormContainer">
    <%= render :template => {controller: :programsets, action: :edit, locals: {:@programset => @node_template.programset} %>
  </div>
  <div class="field">
    <div class="Label"> system </div><br />
    <%= number_field_tag :system, @node_template ? @node_template.system : 0  %>
  </div>
  <div class="field">
    <div class="Label"> firewall </div><br />
    <%= number_field_tag :firewall, @node_template ? @node_template.firewall : 0 %>
  </div>
  <div class="field">
    <div class="Label"> pilot </div><br />
    <%= number_field_tag :pilot, @node_template ? @node_template.pilot : 0 %>
  </div>
  <div class="field">
    <div class="Label"> signal </div><br />
    <%= number_field_tag :signal, @node_template ? @node_template.signal : 0 %>
  </div>
  <div class="field">
    <div class="Label"> response </div><br />
    <%= number_field_tag :response, @node_template ? @node_template.response : 0 %>
  </div>
  <div class="actions">
    <%= submit_tag :Submit %>
  </div>

