
  <% if @node_template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@node_template.errors.count, "error") %> prohibited this node_template from being saved:</h2>

      <ul>
      <% @node_template.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="Label"> name </div><br />
    <%= text_field_tag :name %>
  </div>
  <div class="field">
    <div class="Label"> desc </div><br />
    <%= f.text_area :desc %>
  </div>
  <div class="FormContainer">
    <% @programset = Programset.find_by_id @node_template.programset_id %>
    <%= render :template => "programset/edit", :@programset => @programset %>
  </div>
  <div class="field">
    <div class="Label"> system </div><br />
    <%= number_field_tag :system %>
  </div>
  <div class="field">
    <div class="Label"> firewall </div><br />
    <%= number_field_tag :firewall %>
  </div>
  <div class="field">
    <div class="Label"> pilot </div><br />
    <%= number_field_tag :pilot %>
  </div>
  <div class="field">
    <div class="Label"> signal </div><br />
    <%= number_field_tag :signal %>
  </div>
  <div class="field">
    <div class="Label"> response </div><br />
    <%= number_field_tag :response %>
  </div>
  <%= render 'progremsettemplate/index' %>
  <%= render 'programset/form' %>
  <div class="actions">
    <%= submit_tag :Submit %>
  </div>

