<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @node_template.user_id %>
</p>

<p>
  <b>Name:</b>
  <%= @node_template.name %>
</p>

<p>
  <b>Desc:</b>
  <%= @node_template.desc %>
</p>

<p>
  <b>Programset:</b>
  <%= @node_template.programset_id %>
</p>

<p>
  <b>System:</b>
  <%= @node_template.system %>
</p>

<p>
  <b>Firewall:</b>
  <%= @node_template.firewall %>
</p>

<p>
  <b>Response:</b>
  <%= @node_template.response %>
</p>

<p>
  <b>Pilot:</b>
  <%= @node_template.pilot %>
</p>

<p>
  <b>Signal:</b>
  <%= @node_template.signal %>
</p>

<p>
  <b>Signal:</b>
  <%= @node_template.signal %>
</p>


<%= link_to 'Edit', edit_node_template_path(@node_template) %> |
<%= link_to 'Back', node_templates_path %>
