
  <% if @skillset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@skillset.errors.count, "error") %> prohibited this skillset from being saved:</h2>

      <ul>
      <% @skillset.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="Label"> computer </div><br />
    <%= number_field_tag :computer %>
  </div>
  <div class="field">
    <div class="Label"> cybercombat </div><br />
    <%= number_field_tag :cybercombat %>
  </div>
  <div class="field">
    <div class="Label"> datasearch </div><br />
    <%= number_field_tag :datasearch %>
  </div>
  <div class="field">
    <div class="Label"> electronic_warfare </div><br />
    <%= number_field_tag :electronic_warfare %>
  </div>
  <div class="field">
    <div class="Label"> hacking </div><br />
    <%= number_field_tag :hacking %>
  </div>
  <div class="field">
    <div class="Label"> hardware </div><br />
    <%= number_field_tag :hardware %>
  </div>
  <div class="field">
    <div class="Label"> software </div><br />
    <%= number_field_tag :software %>
  </div>
 

