<div class="Title">New skillset</div>
<%= form_tag url: {controller: 'skillsets'} do %>
<%= render 'form' %>
<%= submit_tag :Create, onclick: "" %><%= submit_tag :Submit %>
<% end %>

<%= link_to 'Back', skillsets_path %>
