<p id="notice"><%= notice %></p>

<p>
  <b>Computer:</b>
  <%= @skillset.computer %>
</p>

<p>
  <b>Cybercombat:</b>
  <%= @skillset.cybercombat %>
</p>

<p>
  <b>Datasearch:</b>
  <%= @skillset.datasearch %>
</p>

<p>
  <b>Electronic warfare:</b>
  <%= @skillset.electronic_warfare %>
</p>

<p>
  <b>Hacking:</b>
  <%= @skillset.hacking %>
</p>

<p>
  <b>Hardware:</b>
  <%= @skillset.hardware %>
</p>



<p>
  <b>Software:</b>
  <%= @skillset.software %>
</p>


<%= link_to 'Edit', edit_skillset_path(@skillset) %> |
<%= link_to 'Back', skillsets_path %>
