
  <% if @node.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@node.errors.count, "error") %> prohibited this node from being saved:</h2>

      <ul>
      <% @node.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="Label"> name </div><br />
    <%= text_field_tag :name %>
  </div>
  <div class="field">
    <div class="Label"> desc </div><br />
    <%= text_field_tag :desc %>
  </div>
  <div class="field">
    <div class="Label"> firewall </div><br />
    <%= number_field_tag :firewall %>
  </div>
  <div class="field">
    <div class="Label"> system </div><br />
    <%= number_field_tag :system %>
  </div>
  <div class="field">
    <div class="Label"> pilot </div><br />
    <%= number_field_tag :pilot %>
  </div>
  <div class="field">
    <div class="Label"> signal </div><br />
    <%= number_field_tag :signal %>
  </div>
  <div class="field">
    <div class="Label"> response </div><br />
    <%= number_field_tag :response %>
  </div>
  <%= render 'programset/edit' %>
  <div class="actions">
    <%= submit_tag :Submit %>
  </div>

