<% @page_title = "Edit Player" %>
				<div class= "Sign_Form">
					<div class="Title">Edit Player</div>
					<p class="<%= flash[:color] %>"><%= flash[:notice] %></p>
					<%= form_for(:player, :url => {:controller => 'player', :action => :edit_attempt}) do |f| %>

						<p> Name:</br> <%= f.text_field :name %> </p>
						<p> Condition:</br> <%= f.text_field :condition %> </p>
						<p> Stun:</br> <%= f.text_field :stun %> </p>
						<p> Skills: </p>
						<% @skillset = @player.skillset %>
						<% render :template => "skillset/edit" %>
						<p> Nodes </p>
						<% @player = f %>
						<% render :template => "node/list" %>

						<%= f.submit :Save %>
					<% end %>

					<% if @player.errors.any? %>
						<ul class="FormErrors">
							<% for message_error in @player.errors.full_messages %>
							<li>* <%= message_error %></li>
							<% end %>
						</ul>
					<% end %>
					<% if @skillset.errors.any? %>
						<ul class="FormErrors">
							<% for message_error in @skillset.errors.full_messages %>
							<li>* <%= message_error %></li>
							<% end %>
						</ul>
					<% end %>
					
</div>
