<p class="<%= flash[:color] %>"><%= flash[:notice] %></p>
<%= form_tag  :action => :create do %>
<div class="FormContainer">
<%= @skillset.column_names.each do |c| %>
<% if c.sub[-3,2] != "id" do %>
<div class="EditCell">
<%= c + ":"%>
<%= text_field_tag c%>
</div>
<% end %>
<%= submit_tag :Submit %>
<% end %>
</div>