<p class="<%= flash[:color] %>"><%= flash[:notice] %></p>
<%= form_tag  :action => :create do %>
	<div class="FormContainer">
		<%= @skillset.item_names.each do |c, d| %>
      <div class="EditCell">
        <div class="EditCellLabel"><%= d %></div>
        <%= text_field_tag ("skill_" + c), 0, :class => "EditCellInput"%>
      </div>
    <% end %>
    <%= submit_tag :Submit %>
  </div>
<% end %>