
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="Label"> gamesession_id </div><br />
    <%= number_field_tag :gamesession_id %>
  </div>
  <div class="field">
    <div class="Label"> player_id </div><br />
    <%= number_field_tag :player_id %>
  </div>
  <div class="actions">
    <%= submit_tag :Submit %>
  </div>

