<div class="Title">Players : Pals</div>
		<%= form_tag :action => :edit_attempt do %>
		<div class="SwitchList">
			<div class="LeftList">
				<%= render :template => 'friender/list' %>
			</div>
			<div class="CenterList">
				<%= button_tag :ltr %>
				<%= button_tag :rtl %>
			</div>
			<div class="RightList" id="player_list">
			</div>
		</div>
		<%= submit_tag :Submit %>
		<% end %>
