
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="Label"> username </div><br />
    <%= text_field_tag :username %>
  </div>
  <div class="field">
    <div class="Label"> email </div><br />
    <%= text_field_tag :email %>
  </div>
  <div class="field">
    <div class="Label"> password </div><br />
    <%= password_field_tag :password %>
  </div>
  <div class="field">
    <div class="Label"> password_confirmation </div><br />
    <%= password_field_tag :password_confirmation %>
  </div>
  <div class="actions">
    <%= submit_tag :Submit %>
  </div>

