<% @page_title = "Games" -%>
<div class= "Sign_Form">
	<p class="<%= flash[:color] %>"><%= flash[:notice] %></p>
	<div class= "Title">Games you are running</div>
	<div class= "ListContainer">
	<% Gamesession.where("gm_id = ?", session[:user_id]).each do |p| %>
	<div class= "ListElement"> <%= link_to p.name, :action => :manage, :id => p.id %></div>
	<% end %>
	</div>
	<%= button_to "Start a Game", :action => :new %>
	<div class= "Title">Games you are playing</div>
	<div class= "ListContainer">
	<% Group.joins(:gamesession).where(:player_id => session[:user_id]).each do |p| %>
	<div class= "ListElement"> <%= link_to p.name, :action => :player, :id => p.id %></div>
	<% end %>
	</div>
</div>