<% @page_title = "Start a Game" -%>
<div class= "Sign_Form">
	<div class= "Title">New Game</div>
	<div class= "Form_Container">
	<p class="<%= flash[:color] %>"><%= flash[:notice] %></p>
	<%= form_tag  :action => :create do %>
		<div class= "Login_Element"><div class= "Label">Name:</div> <%= file_field_tag :file%></div>
		<div class="Title">Nodes</div>
		<div class="SwitchList">
			<div class="LeftList">
				<%= render :template => 'node/list' %>
			</div>
			<div class="CenterList">
				<%= button_tag :ltr %>
				<%= button_tag :rtl %>
				<%= button_to :New, :controller => :node, :action => :new %>
			</div>
			<div class="RightList" id="nodelist">
			</div>
		</div>
		
		<%= render :template => 'groups/new' %>
		
		<div class= "Login_Element"> <%= submit_tag :Start%>
	<% end %>
	</div>
</div>