<% @page_title = "Start a Game" -%>
<div class= "Sign_Form">
	<%= javascript_tag "$(document).ready(function() {supress_edit(); supress_delete();});" %>
	<div class= "Title">New Game</div>
	
	<div class= "Form_Container">
		<%= form_tag :controller => :gamesession, :action => :create do %>
			<div class= "FormElement">
				<div class= "Label">Name:</div> 
				<%= text_field_tag :name%>
			</div>
			<div class="FormElement">
			<div class="Title">Nodes</div>
				<div class="SwitchList">
					<div class="LeftList" id="srclist">
						<%= render :template => 'node/list' %>
					</div>
					<div class="CenterList">
						<%= button_tag :ltr, :type => :button, :onclick => "move_sel('#srclist', 'ListSel','#nodelist');", :class => "SwitchButton" %>
						<%= button_tag :rtl, :type => :button, :onclick => "move_sel('#nodelist', 'ListSel', '#srclist');", :class => "SwitchButton" %>
						<%= button_tag :new, :controller => :node, :action => :new, :class => "SwitchButton" %>
					</div>
					<div class="RightList" id="nodelist">
					</div>	
				</div>
				<div class="Title">Node Templates</div>
				<div class="SwitchList">
					<div class="LeftList" id="tsrclist">
						<%= render :template => 'node_templates/list' %>
					</div>
					<div class="CenterList">
						<%= button_tag :ltr, :type => :button, :onclick => "move_sel('#tsrclist', 'ListSel','#nodetemplatelist');", :class => "SwitchButton" %>
						<%= button_tag :rtl, :type => :button, :onclick => "move_sel('#nodetemplatelist', 'ListSel', '#tsrclist');", :class => "SwitchButton" %>
						<%= button_tag :new, :controller => :node, :action => :new, :class => "SwitchButton" %>
					</div>
					<div class="RightList" id="nodetemplatelist">
					</div>	
				</div>
				<div class="Title">Players</div>
				
				<%= render :template => 'groups/new' %>

				<%= hidden_field_tag :nodelist_data %>
				<%= hidden_field_tag :playerlist_data %>
				<%= hidden_field_tag :nodetemplate_data %>
			
				<%= submit_tag :Start, :onclick => "parse_sel_submit('#new_game', '.ListElement', {'#nodelist' : '#nodelist_data', '#playerlist' : '#playerlist_data', '#nodetemplate_data' : '#nodetemplatelist'});"%>
			</div>	
		<% end %>
	</div>
	<% if @game.errors.any? %>
						<ul class="Signup_Errors">
							<% for message_error in @game.errors.full_messages %>
							<li>* <%= message_error %></li>
							<% end %>
						</ul>
					<% end %>
</div>