<p id="notice"><%= notice %></p>

<p>
  <b>Node:</b>
  <%= link_to "Show", show_node_path(@programset.node_id) %>
</p>

<p>
  <b>Analyze:</b>
  <%= @programset.analyze %>
</p>

<p>
  <b>Armor:</b>
  <%= @programset.armor %>
</p>

<p>
  <b>Attack:</b>
  <%= @programset.attack %>
</p>

<p>
  <b>Biofeedback filter:</b>
  <%= @programset.biofeedback_filter %>
</p>

<p>
  <b>Black hammer:</b>
  <%= @programset.black_hammer %>
</p>

<p>
  <b>Blackout:</b>
  <%= @programset.blackout %>
</p>

<p>
  <b>Command:</b>
  <%= @programset.command %>
</p>

<p>
  <b>Data bomb:</b>
  <%= @programset.data_bomb %>
</p>

<p>
  <b>Decrypt:</b>
  <%= @programset.decrypt %>
</p>

<p>
  <b>Defuse:</b>
  <%= @programset.defuse %>
</p>

<p>
  <b>Eccm:</b>
  <%= @programset.eccm %>
</p>

<p>
  <b>Edit:</b>
  <%= @programset.edit %>
</p>

<p>
  <b>Encrypt:</b>
  <%= @programset.encrypt %>
</p>

<p>
  <b>Exploit:</b>
  <%= @programset.exploit %>
</p>

<p>
  <b>Medic:</b>
  <%= @programset.medic %>
</p>

<p>
  <b>Reality filter:</b>
  <%= @programset.reality_filter %>
</p>

<p>
  <b>Scan:</b>
  <%= @programset.scan %>
</p>

<p>
  <b>Sniffer:</b>
  <%= @programset.sniffer %>
</p>

<p>
  <b>Spoof:</b>
  <%= @programset.spoof %>
</p>

<p>
  <b>Stealth:</b>
  <%= @programset.stealth %>
</p>

<p>
  <b>Track:</b>
  <%= @programset.track %>
</p>


<%= link_to 'Edit', edit_programset_path(@programset) %> |
<%= link_to 'Back', programsets_path %>
