<h1>Listing visiblenodes</h1>

<table>
  <tr>
    <th>Player</th>
    <th>Node</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @visiblenodes.each do |visiblenode| %>
  <tr>
    <td><%= visiblenode.player_id %></td>
    <td><%= visiblenode.node_id %></td>
    <td><%= link_to 'Show', visiblenode %></td>
    <td><%= link_to 'Edit', edit_visiblenode_path(visiblenode) %></td>
    <td><%= link_to 'Destroy', visiblenode, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Visiblenode', new_visiblenode_path %>
