
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="Label">Name: </div><br />
    <%= text_field_tag :name, @player ? @player.name : nil %>
  </div>
  <div class="field">
    <div class="Label"> Condition:</div><br />
    <%= number_field_tag :condition, @player ? @player.condition : nil %>
  </div>
  <div class="field">
    <div class="Lable">Stun: </div><br />
    <%= number_field_tag :stun, @player ? @player.stun : nil %>
  </div>

<%= render partial: 'skillsets/form', locals: {:@skillset => @skillset ? @skillset : Skillset.new } %>

