<div class= "FriendForm">
	<div class="Title">
    Enter Username to add Pal
  </div>
  <div class="<%= flash[:color] %>">
    <%= flash[:notice] %>
  </div>
		<%= form_tag  :controller => :friender, :action => :create do %>
		  <p> Username:</br> <%= text_field_tag :username%><%= submit_tag :Add %></p>
		<% end %>
</div>


