
<div class= "Sign_Form">
	<div class= "Title">Friends</div>
	<p class="<%= flash[:color] %>"><%= flash[:notice] %></p>
	<div class= "ListContainer">
	<% User.find_by_id(session[:user_id]).pals.each do |p| %>
	<% username = User.find_by_id(p.pal_id).username %>
	<div class= "ListElement"> <%=  username + " " %><%= link_to image_tag("delete16.png", :border => 0), :controller => :friender, :action => :remove, :id => p.id, :username => username %>  </div>
	<% end %>
	</div>
	<%= render :template => 'friender/add' %>
</div>